brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
cryptography==41.0.4
Cython==3.0.3
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
mock==5.1.0
numpy==1.26.0
ordereddict==1.1
protobuf==4.24.4
psycopg2==2.9.9
pyOpenSSL==23.2.0
simplejson==3.19.2
toml==0.10.2
tornado==6.3.3
typing_extensions==4.8.0
urllib3_secure_extra==0.1.0
zipp==3.17.0
zstandard==0.21.0
requests==2.31.0